.body {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 86%;
  flex-wrap: wrap;
}

.card {
  height: 200px;
  border: 1px #cecece solid;
  border-radius: 10px;
  margin: 15px;
  width: 28%;
  padding: 25px 10px 0 10px;
}

.card:hover {
  border: 1px #434343 solid;
}

.input{
  width: 300px;
}
